/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
}
body {
  margin: 0px;
  background: linear-gradient(0deg,rgba(213, 216, 220, .7),rgba(213, 216, 220, 0.7)), url('/assets/54party.jpg')no-repeat center fixed;
  background-size: 100% 100%;
}
/*html {*/
  /*height: 100%;*/

#container {
  height: 100%;
  text-align: center;
  font-family: 'Arial';
  letter-spacing: 15px;
}
#container h2 {
    font-weight: lighter;
}
#container h3 {
    font-weight: lighter;
}
#header h1 {
  display: block;
  text-align: center;
  letter-spacing: 15px;
  font-weight: lighter;
  /*margin-top: 30px;*/
  cursor: pointer;
  margin-top: 30%;
  transition: 2s;
}

#header span {
  transition: 1s;
}
#header span:hover {
  font-size:42px;
  color: #28EBD1;
  transition: .2s;
}

#header {
  background-color: pink;
  position: fixed;
  box-shadow: 0px 10px 5px rgba(135, 135, 135, 0.8);
  text-align: center;
  position: fixed; /* Set the navbar to fixed position */
  top:0;/* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: block;
}
#search {
  text-align: center;
  height: 200px;
  /*margin-top: 150px;*/
  display: none;
  background: white;
  box-shadow: 0px 10px 5px rgba(135, 135, 135, 0.8);
}
#search h2 {
  display: inline-block;
}

input[type=submit]:hover {
  color: #28EBD1;

  cursor: pointer;
}

#results {
  display: none;
  background: white;
  box-shadow: 0px 10px 5px rgba(135, 135, 135, 0.8);
  height: 100%;
  width: auto;
  margin-top: 20px;
}

#results h2 {
  display: inline-block;
}
.empty {
  height:200px;
}
