<div id="container">
  <div id="header">
    <h1>
      <span class="letter">S</span>
      <span class="letter">I</span>
      <span class="letter">P</span>
      <span class="letter">L</span>
      <span class="letter">O</span>
    </h1>
  </div>
  <div class="empty">

  </div>
  <div id="search">
    <h2>CARE FOR A DRINK?</h2>
    <br />
    <br />
    <h3>Enter Your Location</h3>
    <form id="location_input">
      <input type='text name' name="location" />
      <input type="submit" name="location" value="YAASSS">
    </form>
  </div>
  <!-- <div class="empty">

  </div> -->
  <div id="results">

  </div>
</div>
