<div id="container">
  <div id="header">
    <h1>SIPLO</h1>
  </div>
  <div id="search">
    <h2>GOING OUT?</h2>
    <h3>Enter Your Location Fam</h3>
    <form id="location_input">
      <input type='text name' name="location" />
      <input type="submit" name="name" value="Search">
    </form>
  </div>
</div>
